.rope{
  @include pivot;
  animation-duration: $animation-speed;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: $animation-delay;
}

.rope__face{
  @include face('rope.png', cover, center, 124px, $castle-size);
  transform: translate3d(-50%, -50%, 0);
}

.rope--left{
  animation-name: ropeLeft;
  transform: translateX(252px) translateZ(-74px) rotateY(30deg) rotateZ(-90deg);
}

.rope--right{
  animation-name: ropeRight;
  transform: translateX(-252px) translateZ(-74px) rotateY(-30deg) rotateZ(-270deg);
}

@keyframes ropeLeft{
  0%{ transform: translateX(252px) translateZ(-74px) rotateY(30deg) rotateZ(-90deg); }
  50%{ transform: translateX(252px) translateZ(-74px) rotateY(40deg) rotateZ(-90deg); }
  100%{ transform: translateX(252px) translateZ(-74px) rotateY(30deg) rotateZ(-90deg); }
}

@keyframes ropeRight{
  0%{ transform: translateX(-252px) translateZ(-74px) rotateY(-30deg) rotateZ(-270deg); }
  50%{ transform: translateX(-252px) translateZ(-74px) rotateY(-40deg) rotateZ(-270deg); }
  100%{ transform: translateX(-252px) translateZ(-74px) rotateY(-30deg) rotateZ(-270deg); }
}
